@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

*, *::before, *::after{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Akaya Telivigala', cursive;
}

html {
  scroll-behavior: smooth;
}

.navigation-header{
  position: fixed;
  width: 100%;
  padding: 15px 100px;
  background-color: transparent;
  transition: all .3s
}

.navigation-header.active{
  background-color: #1f1f1f;
}

.navigation-container{
  display: flex;
  justify-content:flex-end;
  align-items: center;
}

.navigation-container li{
  color:white;
  list-style: none;
  cursor: pointer;
  font-size: 1.5rem;
  margin: 0 15px;
}

.navigator{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.red{
  background-color: red;
}

.yellow{
  background-color: yellow;
}

.green{
  background-color: green;
}

.Typewriter{
  font-size: 2rem;
  color: white;
  /* text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18, 2px 2px 2px rgba(206,89,55,0); */
  text-shadow: 3px 3px 8px rgba(0, 251, 255, 0.8),7px 7px 21px rgba(13, 146, 255, 1);
}

.type-writer-container{
  width: 70%;
  margin: 0 auto;
  min-height: 250px;
  position: relative;
}

.type-writer-body-tag,.type-writer-html-tag{
  position: absolute;
  color: white;
  left: 0;
  font-size: 1rem;
  font-weight: bold;
}

.type-writer-body-tag.open{
  top: -20px;
}

.type-writer-body-tag.closed{
  bottom: -20px;
}

.type-writer-html-tag.open{
  top: -60px;
}

.type-writer-html-tag.closed{
  bottom: -60px;
}

.profile-pic{
  max-width: 350px;
}

.about-page{
  min-height: 100vh;
  background-color: rgb(15,15,15);
}

.typewriting-text{
  width: 100%;
  padding: 0 100px;
}

.flex{
  display: flex;
}

.space-between{
  justify-content: space-between;
}

.align-center{
  align-items: center;
}