@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*, *::before, *::after{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Akaya Telivigala', cursive;
}

a:visited{
  color: initial;
}

html {
  scroll-behavior: smooth;
}

.navigation-header{
  position: fixed;
  width: 100%;
  padding: 18px 100px;
  background-color: transparent;
  transition: all .3s;
  z-index: 999;
}

.navigation-header.active{
  background-color: #1f1f1f;
}

.navigation-container{
  display: flex;
  justify-content:flex-end;
  align-items: center;
}

.navigation-container li{
  color:white;
  list-style: none;
  cursor: pointer;
  font-size: 1.5rem;
  margin: 0 15px;
}

.navigator{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.red{
  background-color: red;
}

.yellow{
  background-color: yellow;
}

.green{
  background-color: green;
}

.Typewriter{
  font-size: 2rem;
  color: white;
  /* text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18, 2px 2px 2px rgba(206,89,55,0); */
  text-shadow: 3px 3px 8px rgba(0, 251, 255, 0.8),7px 7px 21px rgba(13, 146, 255, 1);
}

.type-writer-container{
  width: 70%;
  margin: 0 auto;
  min-height: 250px;
  position: relative;
}

.type-writer-body-tag,.type-writer-html-tag{
  position: absolute;
  color: white;
  left: 0;
  font-size: 1rem;
  font-weight: bold;
}

.type-writer-body-tag.open{
  top: -20px;
}

.type-writer-body-tag.closed{
  bottom: -20px;
}

.type-writer-html-tag.open{
  top: -60px;
}

.type-writer-html-tag.closed{
  bottom: -60px;
}

.profile-pic{
  max-width: 350px;
}

.about-page{
  min-height: 100vh;
  background-color: rgb(15,15,15);
}

.typewriting-text{
  width: 100%;
  padding: 0 100px;
}

.flex{
  display: flex;
}

.space-between{
  justify-content: space-between;
}

.flex-wrap{
  flex-wrap: wrap;
}

.flex-column{
  flex-direction: column;
}

.mh-380{
  min-height: 380px;
}

.align-center{
  align-items: center;
}

.space-center{
  justify-content: center;
}

.arrow-right {
  background-color: #08c4c4;
  box-shadow: 0 0 3px 2px rgb(0 0 0 / 80%);
  height: 175px;
  left: -115px;
  position: absolute;
  top: -55px;
  width: 0;
  -webkit-transform: rotate(-45deg);
  transition: all .8s;
}

.arrow-right span {
  color: #f5f5f5;
  font-family: sans-serif;
  font-size: 1.005em;
  left: 90px;
  top: 100px;
  position: absolute;
  width: 150px;
  font-size: 12px;
  text-shadow: 3px 3px 8px rgb(0 0 0 / 80%);
  opacity:  0;
}

.arrow-right.active{
  width: 300px;
}

.arrow-right.active span{
  opacity: 1;
}

@media screen and (max-width: 600px) {
  .typewriting-text{
    flex-direction: column;
    padding: 0 15px;
  }

  .type-writer-container{
    width: 100%;
    order: 2;
    display: flex;
    align-items: center;
  }

  .Typewriter{
    font-size: 1.1rem;
  }

  .profile-pic{
    max-width: 200px;
  }

  .profile-pic-container{
    margin-top: 55px;
  }

  .navigation-header{
    padding: 15px;
  }

  .type-writer-body-tag, .type-writer-html-tag{
    font-size: 0.8rem;

  }

  .type-writer-body-tag.closed{
    bottom: 20px;
  }

  .type-writer-body-tag.open{
    top: 20px;
  }

  .type-writer-html-tag.open{
    top: 0;
  }

  .type-writer-html-tag.closed{
    bottom: 0;
  }

  .arrow-right.active{
    width: 0 !important;
  }

}

.projects-section{
  min-height: 100vh;
  background-color: white;
  padding: 30px 100px;
  font-family: 'Roboto', sans-serif;;
}

.section-header{
  text-align: center;
  font-size: 3rem;
}

.projects-img-container{
  max-width: 100%;
  cursor:pointer;
  min-height: 320px;
}

.projects-img-container img{
  width: 100%;
  height: 300px;
}

.project-showcase{
  width: 30%;
  padding: 10px;
  margin-top: 35px;
}

.roboto-font{
  font-family: 'Roboto', sans-serif;
}

.roboto-font.light{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.contact-message{
  resize: vertical;
  width:100%
}

.contact-form{
  width: 35%;
  margin: 15px auto;

}

.contact-form input, .contact-form textarea{
  width: 100%;
  padding: 10px;
  font-size: 1.2rem;
}

.contact-form input[type="submit"]{
  cursor: pointer;
  background-color: #9cf445;
  border: 1px solid transparent;
  font-weight: bold;
  border-radius: 10px;
  font-size: 1.3rem;
  color: black;
  text-transform: uppercase;
  transition: all .3s;
  outline: none;
}

.contact-form input[type="submit"]:hover{
  background-color: #7de417;
}

.contact-err-msg{
  color: red;
}


.contact-page{
  position: relative;
}

.contact-icon{
  position: absolute;
 
  bottom: -500px;
  cursor: pointer;
  width: 325px;
  transition: all .5s;
}

.contact-icon.linkedin{
  right: -55px;
  transform: rotate(-45deg);
}

.contact-icon.github{
  left: -35px;
  transform: rotate(45deg);
}

.contact-icon.active{
 bottom: -40px;
}

.contact-icon.active:hover{
  width:350px
}

.container {
  position: relative;
}

.page {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
}

.project-detail-page{
  min-height: 100vh;
  padding: 20px;
  background-color: #f6fdff;
}

.project-detail-slider-container{
  max-width: 1000px;
  margin: 15px auto;
  position: relative;
}

.swiper-container-thumbs{
  cursor: pointer;
}

.swiper-container-thumbs .swiper-slide{
  opacity: 0.3;
}

.swiper-container-thumbs .swiper-slide-thumb-active{
  opacity: 1;
}

.swiper-button-next::after {
  content: ">" !important;
  font-size: 35px !important;
  font-weight: bold !important;
  font-family: sans-serif !important;
}

.swiper-button-prev::after {
  content: "<" !important;
  font-size: 35px !important;
  font-weight: bold !important;
  font-family: sans-serif !important;
}

.to-home-page-icon img{
  max-width: 30px;
}

.to-home-page-icon{
  position: absolute;
  top: -50px;
  left: 0;
}

.project-detail-descriptions-container{
  max-width: 1000px;
  margin: 50px auto 20px;
}

.project-detail-component{
  margin: 15px 0;
  font-size: 1.2rem;
  display: flex;
}

.project-detail-component span:nth-child(1){
  width: 15%;
}

.project-detail-component span:last-child{
  width: 85%;
}

.project-detail-tag:not(:first-child){
  margin: 0 5px;
}

.project-detail-tag{
  padding: 5px 8px;
  border: 1px solid gray;
  border-radius: 5px;
  cursor: pointer;
}


@media screen and (max-width: 1600px){
  .projects-img-container img{
    height: 265px;
  }

  .projects-img-container{
    min-height:300px ;
  }
}

@media screen and (max-width: 600px) {
  .swiper-button-prev::after, .swiper-button-next::after, #thumbs{
    display: none;
  }

  .contact-icon.linkedin,.contact-icon.github{
    transform: rotate(0);
    width: 50px;
    transform: rotate(0);
    width: 50px;
    top: 15px;    
  }

  .contact-icon.linkedin{
    right: 15px;
  }
  
  .contact-icon.github{
    left: 15px;
  }

  .contact-icon.active:hover{
    width:55px
  }

  .projects-section{
    padding: 25px 5px;
  }

  .project-showcase{
    width: 100%;
  }

  .projects-img-container img {
    width: 100%;
    height: initial;
    object-fit: contain;
  }

  .projects-img-container,.mh-380{
    min-height:initial;
  }

  .projects-img-container{
    margin-bottom: 15px;
  }
  
  .roboto-font.light a{
    margin-top: 5px;
    display: block;
  }

  .contact-form{
    width: 100%;
  }

  .contact-form input, .contact-form textarea{
    width: 90%;
    margin: 0 auto;
    display: block;
  }
}